@import './Variables.scss';

.image {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
}

.imageSmall {
  @extend .image;

  @media (min-width: $breakpoint-md) {

    width: 40%;
  }
}

.heroWithHeader {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
}

.heading {
  font-size: 36px;
}

.headerWrapper {
  display: flex;
  background-color: #176a7e;
  width: calc(100vw - $spacing-m);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $spacing-s;
  color: white;

  @media (min-width: $breakpoint-md) {

    width: 60%;
  }
}