@import './Variables.scss';

.listItem {
  position: relative;
  background: #148924;
  color: white;
  border-radius: 8px;
  text-align: left;
  padding: $spacing-m $spacing-xl $spacing-m $spacing-m;
  cursor: pointer;

  &:hover {
    filter: brightness(0.85);
  }
}

.outOfStock {
  background: #ba1313;
  color: white;
}

.productName {
  font-size: 16px;
}

.icon {
  position: absolute;
  right: 0;
  bottom: calc(50% - 10px);
  padding-right: $spacing-m;
  height: 20px;
}